# Create a .env file in the root directory and add your API keys here
# This project can handle both OpenAI and Groq API Keys, using any one will work
OPENAI_API_KEY = "insert your OpenAI API key here"
GROQ_API_KEY = "insert your Groq API key here"